[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild.git
[submodule "python-driver"]
	path = python-driver
	url = https://github.com/datastax/python-driver.git
