name: Build wheels (Linux)

on: [workflow_dispatch]

jobs:
  build_wheels_linux:
    name: Build wheels on ubuntu-22.04
    runs-on: ubuntu-22.04
    env:
      CIBW_BUILD: cp312-*
      CIBW_SKIP: "*musllinux*"
      CIBW_ARCHS_LINUX: x86_64 aarch64
      CIBW_TEST_REQUIRES: pytest mock pure-sasl eventlet
      CIBW_TEST_COMMAND: echo "wheel is installed"
      CIBW_BEFORE_ALL: yum install -y libev libev-devel
      CIBW_BUILD_VERBOSITY: 3
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: linux/arm64
      - uses: pypa/cibuildwheel@v3.2.1
        with:
          package-dir: ./python-driver
      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-linux
          path: ./wheelhouse/*.whl
