name: Build wheels (Mac)

on: [workflow_dispatch]

jobs:
  build_wheels_mac:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # macos-15-intel == Intel, macos-14 == ARM
        # macos-15-intel is the last x86_64 runner (https://github.com/actions/runner-images/issues/13046)
        os: [macos-15-intel, macos-14]
        min_version: [10.9, 11.0]
        exclude:
          # Always try for the maximal min version for x86_64 builds
          - os: macos-15-intel
            min_version: 11.0
          # ARM builds require an OSX version of at least 11.0
          - os: macos-14
            min_version: 10.9
    env:
      CIBW_ENVIRONMENT: CFLAGS="-mmacosx-version-min=${{ matrix.min_version }}"
      CIBW_BUILD: cp39-* cp310-* cp311-* cp312-* cp313-*
      CIBW_SKIP: "*musllinux*"
      CIBW_TEST_REQUIRES: pytest mock pure-sasl eventlet
      CIBW_TEST_COMMAND: echo "wheel is installed"
      CIBW_BEFORE_ALL: >
        curl -O http://dist.schmorp.de/libev/libev-4.33.tar.gz &&
        gzip -dc libev-4.33.tar.gz | tar xf - &&
        cd libev-4.33 &&
        ./configure &&
        sudo make install
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: pypa/cibuildwheel@v3.2.1
        with:
          package-dir: ./python-driver
      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-mac-${{ matrix.os }}
          path: ./wheelhouse/*.whl
