name: Build wheels (Windows)

on: [workflow_dispatch]

jobs:
  build_wheels_win:
    name: Build wheels on windows-2022
    runs-on: windows-2022
    env:
      CIBW_BUILD: cp310-* cp311-* cp312-* cp313-* cp314-*
      CIBW_SKIP: "*musllinux* *win32"
      CIBW_TEST_REQUIRES: pytest mock pure-sasl eventlet
      CIBW_TEST_COMMAND: echo "wheel is installed"
      LIBEV_INCLUDES: C:\vcpkg\packages\libev_x64-windows\include\libev
      LIBEV_LIBS: C:\vcpkg\packages\libev_x64-windows\lib
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install libev
        run: vcpkg install libev
      - name: Update pyproject.toml to find libev
        run: |
          pip install toml
          python scripts/update_pyproject.py python-driver/pyproject.toml "${{ env.LIBEV_INCLUDES }}" "${{ env.LIBEV_LIBS }}"
      - uses: pypa/cibuildwheel@v3.2.1
        with:
          package-dir: ./python-driver
      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-win
          path: ./wheelhouse/*.whl
